/* .Modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-out;
  color: orange;
}

.Overlay {
  background-color: #d3d3d3;
} */

/* .Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}

.Overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
} */

.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 25%;
  width: 50%;
  color: orange;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  background-color: #d3d3d3 !important;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
